body {
    font-family: sans-serif;
    margin: 0;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #656074;
}

a {
    text-decoration: none;
    color: #656074;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #f2f2f2;
    align-items: center;
    padding: 10px;
}

nav a {
    font-weight: 700;
    padding-right: 16px;
}

nav a:hover {
    text-decoration: underline;
    color: #F39D4E;
}

/*MAIN*/

main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

main .herotext {
    color: #F39D4E;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;    
}

main .textanim {
    color: #656074;
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 42px;
    font-weight: 700;
    overflow: hidden;
}

main .textanim li span{
    position: relative;
    top: 0;
    font-size: 42px;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -200px
    }
}

main .textanim li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #DFDBE5;
    border-left: 3px solid #F39D4E;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/*FOOTER*/

footer {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    background-color: #656074;
    margin-top: auto;
}

/*MEDIAQERY*/

@media (max-width: 700px) {
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        flex-direction: column;
    }

    nav {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }
}