body {
    font-family: sans-serif;
    margin: 0;
    background-color: #1B211F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #5FE9A5;
}

a {
    text-decoration: none;
    color: #889FA5;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #1C2521;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
}

nav a {
    font-weight: 700;
    padding-right: 16px;
}

nav a:hover {
    text-decoration: underline;
    color: #00C6B0;
}

.sep {
    height: 1px;
    background-color: #889FA5;
}

/*MAIN*/

.textohero span {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

main .herotext {
    color: #00C6B0;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}

main .textanim {
    color: #889FA5;
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 42px;
    font-weight: 700;
    overflow: hidden;
    padding-left: 16px;
}

main .textanim li span {
    position: relative;
    top: 0;
    font-size: 42px;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -200px
    }
}

main .textanim li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1B211F;
    border-left: 3px solid #5FE9A5;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* --------- */
/*CONTENEDOR*/
/* -------- */

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 42px;
}

.contenedor .boton {
    position: relative;
    display: inline-block;
    padding: 12px 18px;
    border-width: 3px;
    letter-spacing: 2px;
    color: #5FE9A5;
    overflow: hidden;
    transition: 0.2s;
}

.contenedor .boton:hover {
    background-color: #5FE9A5;
    color: #1B211F;
    box-shadow: 0 0 10PX #5FE9A5, 0 0 40PX #5FE9A5, 0 0 80PX #5FE9A5;
    font-weight: 700;
    transition-delay: 1s;
}

.contenedor .boton span {
    position: absolute;
    display: block;
}

.contenedor .boton #span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5FE9A5);
}

.contenedor .boton:hover #span1 {
    left: 100%;
    transition: 1s;
}

.contenedor .boton #span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #5FE9A5);
}

.contenedor .boton:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.contenedor .boton #span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #5FE9A5);
}

.contenedor .boton:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.contenedor .boton #span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #5FE9A5);
}

.contenedor .boton:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.contenedor2 {
    margin-top: 64px;
    padding-top: 150px;
    height: 280px;
    background-color: #171c1b;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300c6b0' fill-opacity='0.18'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*FOOTER*/

footer {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1B211F;
    background-color: #5FE9A5;
    margin-top: auto;
}


/* ------------------------ */
/*MEDIAQERY de 700px o menos*/
/* ------------------------ */

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        flex-direction: column;
    }

    nav {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    .textohero span {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    main .herotext {
        color: #00C6B0;
        font-size: 20px;
    }

    main .textanim {
        color: #889FA5;
        list-style: none;
        height: 22px;
        line-height: 22px;
        font-size: 17px;
        font-weight: 700;
        overflow: hidden;
        padding-left: 10px;
    }

    main .textanim li span {
        position: relative;
        top: 0;
        font-size: 17px;
        animation: slide 6s steps(4) infinite;
    }

    @keyframes slide {
        100% {
            top: -88px
        }
    }

    main .textanim li span::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background: #1B211F;
        border-left: 3px solid #5FE9A5;
        animation: typing 1.5s steps(10) infinite;
    }

    .contenedor .boton {
        background-color: #5FE9A5;
        color: #1B211F;
        box-shadow: 0 0 10PX #5FE9A5, 0 0 40PX #5FE9A5, 0 0 80PX #5FE9A5;
        font-weight: 700;
        transition-delay: 1s;
    }


}